# ( stdbuf -eL stack build --fast 3>&1 1>&2 2>&3 | head -200 ) 3>&1 1>&2 2>&3
# ( COMMAND 3>&1 1>&2 2>&3 | grep -v ANNOYING_ERRORS ) 3>&1 1>&2 2>&3 | grep TARGET_STRINGS
stack build --fast 
# KR_PORT=3000 KR_HOST="127.0.0.1" stack exec starter-model-exe 
#stack exec starter-model-exe | jq '.' | head -40
#stack exec starter-model-exe 2>&1 | head -10
#stack build --test --no-run-tests
#stack build --test
echo -e "❍❍❍❍❍❍❍\n❍❍❍❍❍❍❍\n❍❍❍❍❍❍❍" ' This text should only appear if all is well and the command set was not interrupted'
